@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

Welcome @HttpContext.Current.User.Identity.Name

@if (Request.IsAuthenticated)
{
    <br>
    <a href="@Url.Action("CategoryDetails", "Category")">Categories</a><br>
    <a href="@Url.Action("Holidays", "Holiday")">Holidays</a><br>
    <a href="@Url.Action("RegionDetails", "Region")">Regions</a><br>
    <a href="@Url.Action("SectorDetails", "Sector")">Sectors</a><br>
    <a href="@Url.Action("UserDetails", "User")">Users</a><br>
    <a href="@Url.Action("AdminTimesheets", "TimeSheet")">AdminTimesheets</a><br />
    <a href="@Url.Action("SupervisorTimesheets", "TimeSheet")">SupervisorTimesheets</a><br>
    <a href="@Url.Action("UserTimesheets", "TimeSheet")">UserTimesheets</a><br>


    using (Html.BeginForm("Logout", "User", FormMethod.Post, new { id = "logoutForm" }))
    {
        <a href="javascript:document.getElementById('logoutForm').submit()">Logout</a>
    }

}