@model MMP.Models.ViewModels.Category.AddorEditLeave
@{ 
    Layout = null;
}

@using (Html.BeginForm("AddorEditLeaves", "Category", FormMethod.Post, new { onsubmit = "return SubmitForm(this)" }))
{
    @Html.AntiForgeryToken()
    <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Add or Edit Leaves</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    </div>
    @Html.HiddenFor(model => model.ctd_id)
    
    <div class="form-group">
        @Html.LabelFor(model => model.leave_name, "Name", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-8">
            @Html.EditorFor(model => model.leave_name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.leave_name, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.code, "Code", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-8">
            @Html.EditorFor(model => model.code, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.code, "", new { @class = "text-danger" })
        </div>
    </div>

    @Html.HiddenFor(model => model.category_id)
    @Html.HiddenFor(model => model.ctd_created_at)
    @Html.HiddenFor(model => model.leave_details_id)

    <div class="form-group">
        @Html.LabelFor(model => model.no_of_leaves, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-8">
            @Html.EditorFor(model => model.no_of_leaves, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.no_of_leaves)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.encashable, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-8">
            @Html.DropDownListFor(model => model.encashable, Model.selector, "Select", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.encashable, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.carry_forward, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-8">
            @Html.DropDownListFor(model => model.carry_forward, Model.selector, "Select", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.carry_forward, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-primary" />
        <input type="reset" value="Reset" class="btn" />
    </div>

}



@section Scripts{
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
}

