@model MMP.Models.ViewModels.Sector.EditSector
@{
    Layout = null;
}


@using (Html.BeginForm("EditSector", "Sector", FormMethod.Post, new { onsubmit = "return SubmitForm(this)" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.sector_id)
    <div class="form-group">
        @Html.LabelFor(model => model.sector_name, "Sector Name", new { @class = "control-label" })
        @Html.EditorFor(model => model.sector_name, new { htmlAtrributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.sector_name)
    </div>
    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-primary" />
        <input type="reset" value="Reset" class="btn" />
    </div>


}
