@model MMP.Models.holiday_details
@{
    Layout = null;
}


@using (Html.BeginForm("EditHolidays", "Holiday", FormMethod.Post, new { onsubmit = "return SubmitForm(this)" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @Html.HiddenFor(model => model.hd_id)
    <div class="form-group">
        @Html.LabelFor(model => model.hd_name, "Holiday Name", new { @class = "control-label" })
        @Html.EditorFor(model => model.hd_name, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.hd_name)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.hd_from, "Holiday From", new { @class = "control-label" })
        @Html.EditorFor(model => model.hd_from, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.hd_from)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.hd_to, "Holiday Till", new { @class = "control-label" })
        @Html.EditorFor(model => model.hd_to, new { htmlAttributes = new { @class = "form-control" } })
    </div>
    @Html.HiddenFor(model => model.hy_id)
    @Html.HiddenFor(model => model.generated_by)


    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-primary" />
        <input type="reset" value="Reset" class="btn" />
    </div>


}
