@model List<MMP.Models.ViewModels.TimeSheet.ParentVM>

@{
    ViewBag.Title = "Accept/Reject TimeSheet";
}   
@{
    var Rowtotal = 0.0;
}

<!-- ============================================================== -->
<!-- Page wrapper  -->
<!-- ============================================================== -->
<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-5 col-8 align-self-center">
                <!-- <h3 class="text-themecolor">Dashboard</h3>-->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                    <li class="breadcrumb-item active">Supervisor TimeSheet Edit</li>
                </ol>
            </div>
            <div class="col-md-7 col-4 align-self-center">
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <!-- Row -->
        @using (Html.BeginForm("SupervisorUserTimeSheetEdit", "TimeSheet", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            if (ViewBag.UserName != null)
            {
                <div style="border: solid 1px green">
                    <p><b>USERNAME: </b>@ViewBag.UserName </p>
                </div>
            }

            if (ViewBag.Message != null)
            {
                <div style="border: solid 1px green">
                    @ViewBag.Message
                </div>
            }

        <!--<div><a href="#" id="addNew">Add New Category/CategoryType</a></div>-->

            <div class="table-responsive">
                <table id="dataTable" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <th>Category</th>
                        <th>Category Type</th>
                        <th>Category Type Code</th>
                        @if (Model != null && Model.Count > 0)
                {
                    for (DateTime date = ViewBag.startDate; date.Date <= ViewBag.endDate.Date; date = date.AddDays(1))
                    {
                                <th>@String.Format("{0:MMM-d\n(ddd)}", date)</th>
                            }
                        }
                        <th>Calculate Total</th>
                        <th></th>
                    </tr>
                    @if (Model != null && Model.Count > 0)
                    {
                        for (int j = 0; j < Model.Count; j++)
                        {

                            Rowtotal = 0.0;

                            <tr style="border: 1px solid black">
                                @Html.HiddenFor(a => a[j].tsd_id, new { @name = "tsd_id_" + j })
                                @Html.HiddenFor(a => a[j].tsd_timesheet_id, new { @name = "tsd_timesheet_id_" + j })
                                <td>
                                    <!--@Html.DisplayFor(a => a[j].tsd_category_id, new { htmlAttributes = new { @class = "form-control" } })-->
                                    @Html.DropDownListFor(a => a[j].tsd_category_id, new SelectList(ViewBag.Categories, "category_id", "category_name", Model[j].tsd_category_id), new { @disabled = "disabled" })
                                    @Html.HiddenFor(a => a[j].tsd_category_id)
                                    @Html.ValidationMessageFor(a => a[j].tsd_category_id)
                                </td>
                                <td>
                                    <!--@Html.DisplayFor(a => a[j].tsd_category_type_id, new { htmlAttributes = new { @class = "form-control" } })-->
                                    @Html.DropDownListFor(a => a[j].tsd_category_type_id, new SelectList(ViewBag.CategoryTypes, "ctd_id", "ctd_name", Model[j].tsd_category_type_id), new { @disabled = "disabled" })
                                    @Html.HiddenFor(a => a[j].tsd_category_id)
                                    @Html.ValidationMessageFor(a => a[j].tsd_category_type_id)
                                </td>

                                <td>
                                    @Html.DropDownListFor(a => a[j].tsd_category_type_id, new SelectList(ViewBag.CategoryTypes, "ctd_id", "ctd_code", Model[j].tsd_category_type_id), new { @disabled = "disabled" })
                                    @Html.HiddenFor(a => a[j].tsd_category_type_id)
                                    @Html.ValidationMessageFor(a => a[j].tsd_category_type_id)
                                </td>


                                @for (int i = 0; i < Model[j].timesheet_day_details.Count(); i++)
                                {
                                    @Html.HiddenFor(m => m[j].timesheet_day_details[i].tdd_id)
                                    @Html.HiddenFor(m => m[j].timesheet_day_details[i].tdd_day)
                                    <td>
                                        @Html.EditorFor(m => m[j].timesheet_day_details[i].workhours, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled", @style = "float: center;text-align: center;" } })
                                        @Html.HiddenFor(m => m[j].timesheet_day_details[i].workhours)
                                        @Html.ValidationMessageFor(m => m[j].timesheet_day_details[i].workhours)
                                    </td>
                                    @Html.HiddenFor(m => m[j].timesheet_day_details[i].tsd_id)


                                    Rowtotal = (@Model[j].timesheet_day_details[i].workhours) + Rowtotal;


                                }

                                <td align="center">@Rowtotal</td>


                                <td>
                                    @if (j >= 0)
                                    {
                                        <a class="btn btn-danger" onclick="Delete(@Model[j].tsd_timesheet_id, @Model[j].tsd_category_type_id)"><i class="fa fa-trash"></i> Delete</a><!--NEED TO GIVE OPTION TO DELETE ROWS (CATEGORY AND CATEGORY TYPE ID WITH ALL ITS RESPECTIVE WORKHOUR ENTRIES)-->
                                    }
                                </td>
                            </tr>

                        }

                        <tr>
                            <td>&nbsp;</td>
                            <td align="center"><b>Total Hours per Day</b></td>
                            <td>&nbsp;</td>
                            @for (int i = 0; i < 7; i++) // CHANGE THIS VALUE BASED ON NUMBER OF DAYS IN A TIMESHEET
                            {


                                if (@Model.Sum(x => x.timesheet_day_details[i].workhours) > 7.5)
                                {
                                    <td align="center" bgcolor="#FF0000"><font color="white">@Model.Sum(x => x.timesheet_day_details[i].workhours)</font></td>
                                }
                                else
                                {
                                    <td align="center">@Model.Sum(x => x.timesheet_day_details[i].workhours)</td>
                                }
                            }
                        </tr>


                        <tr>
                            <td>&nbsp;</td>
                            <td align="center"><b>Remarks: </b></td>
                            <td>&nbsp;</td>
                            <td><input type="text" name="remarks" /></td>
                        </tr>
                    }


                </table>
            </div>
            

            if (ViewBag.Message != null)
            {
                <script type="text/javascript">
            window.onload = function () {
                //alert("@Model");
            };
                </script>
            }

            if (Model != null && Model.Count > 0)
            {

                <input type="submit" name="submit" value="Accept" class="btn btn-primary" />
                <input type="submit" name="submit" value="Reject" class="btn btn-primary" />
            }

        }
    </div>
    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Container fluid  -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- footer -->
<!-- ============================================================== -->
<footer class="footer"> © 2018 MMP TimeSheets By Simsum. For timesheet support contact <a href="timesheet@mmpakistan.com" target="_top">timesheet@mmpakistan.com</a></footer>
<!-- ============================================================== -->
<!-- End footer -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- End Page wrapper  -->
<!-- ============================================================== -->


@section Scripts{
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script>
        var Popup, dataTable;

        $(document).ready(function () {
            dataTable = $("#dataTable").DataTable({
                // "ajax": {
                //     "url": "/Holiday/GetData",
                //     "type": "GET",
                //     "datatype": "json"
                //  },
                "language": {
                    //"emptyTable" : "No Holidays Available for current year, Click on <b>Add New Holiday</b> Button to add Holidays"
                }
            });
        });
        
    </script>
}