@model List<MMP.Models.ViewModels.TimeSheet.ParentVM>

@{
    ViewBag.Title = "Edit TimeSheet";
}
@{ 
    var Rowtotal = 0.0;
}

<!-- ============================================================== -->
<!-- Page wrapper  -->
<!-- ============================================================== -->
<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-5 col-8 align-self-center">
                <!-- <h3 class="text-themecolor">Dashboard</h3>-->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                    <li class="breadcrumb-item active">TimeSheet Edit</li>
                </ol>
            </div>
            <div class="col-md-7 col-4 align-self-center">
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <!-- Row -->
        @using (Html.BeginForm("TimeSheetEditView", "TimeSheet", FormMethod.Post))
        {
            <a class="btn btn-success" style="margin-bottom:10px" onclick="OpenModal('@Url.Action("AddCategoryTimeSheet", "TimeSheet")/@ViewBag.TimeSheetID')"><i class="fa fa-plus"></i> Add New Category/CategoryType</a>
            
            <div id='myModal' class='modal'>
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div id='myModalContent'>
                        </div>
                    </div>
                </div>
            </div>

            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            if (ViewBag.UserName != null)
            {
                <div style="border: solid 1px black">
                    <p><b>USERNAME: </b>@ViewBag.UserName </p>
                </div>
            }


            if (ViewBag.Message != null)
            {
                <div style="border: solid 2px red">
                    <b>@ViewBag.Message</b>
                </div>
            }

            if (ViewBag.RowERR != null)
            {
                <div style="border: solid 1px green">
                    <p><b>Note: </b>If you want to add a new Category Type to the TimeSheet <a class="btn btn-success" style="margin-bottom:10px" onclick="Reload(@ViewBag.TimeSheetID)"><i class="fa fa-refresh"></i> RELOAD</a> the View.</p>
                    <p><b>Notice!</b>Make sure sum of each column is less than Mon-Thu (7.5), Fri (6.5) & Sat(7).</p>
                    <b>@ViewBag.RowERR</b>
                </div>
            }

        <!--<div><a href="#" id="addNew">Add New Category/CategoryType</a></div>-->

            <div class="table-responsive" id="dataTable">
                <table  border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <th>Category</th>
                        <th>Category Type</th>
                        <th>Category Type Code</th>

                        @if (Model != null && Model.Count > 0) // Get this under 1 if
                        {
                            for (DateTime date = ViewBag.startDate; date.Date <= ViewBag.endDate.Date; date = date.AddDays(1))
                            {
                                <th>@String.Format("{0:MMM-d\n(ddd)}", date)</th>
                            }

                        }
                        <th>Calculate Total</th>
                        <th></th>
                    </tr>
                    @if (Model != null && Model.Count > 0)
                    {
                        for (int j = 0; j < Model.Count; j++)
                        {

                            Rowtotal = 0.0;

                            <tr style="border: 1px solid black">
                                @Html.HiddenFor(a => a[j].tsd_id, new { @name = "tsd_id_" + j })
                                @Html.HiddenFor(a => a[j].tsd_timesheet_id, new { @name = "tsd_timesheet_id_" + j })
                                <td>
                                    <!--@Html.DisplayFor(a => a[j].tsd_category_id, new { htmlAttributes = new { @class = "form-control" } })-->
                                    @Html.DropDownListFor(a => a[j].tsd_category_id, new SelectList(ViewBag.Categories, "category_id", "category_name", Model[j].tsd_category_id), new { @disabled = "disabled" })
                                    @Html.HiddenFor(a => a[j].tsd_category_id)
                                    @Html.ValidationMessageFor(a => a[j].tsd_category_id)
                                </td>
                                <td>
                                    @Html.DropDownListFor(a => a[j].tsd_category_type_id, new SelectList(ViewBag.CategoryTypes, "ctd_id", "ctd_name", Model[j].tsd_category_type_id), new { @disabled = "disabled" })
                                    @Html.HiddenFor(a => a[j].tsd_category_id)
                                    @Html.ValidationMessageFor(a => a[j].tsd_category_type_id)
                                </td>

                                <td>
                                    @Html.DropDownListFor(a => a[j].tsd_category_type_id, new SelectList(ViewBag.CategoryTypes, "ctd_id", "ctd_code", Model[j].tsd_category_type_id), new { @disabled = "disabled" })
                                    @Html.HiddenFor(a => a[j].tsd_category_type_id)
                                    @Html.ValidationMessageFor(a => a[j].tsd_category_type_id)
                                </td>


                                @for (int i = 0; i < Model[j].timesheet_day_details.Count(); i++)
                                {
                                    @Html.HiddenFor(m => m[j].timesheet_day_details[i].tdd_id)
                                    @Html.HiddenFor(m => m[j].timesheet_day_details[i].tdd_day)
                                    @Html.HiddenFor(m => m[j].timesheet_day_details[i].holiday)
                                    if (@Model[j].timesheet_day_details[i].holiday.HasValue)
                                    {
                                        <td>
                                            @Html.EditorFor(m => m[j].timesheet_day_details[i].workhours, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled", @style = "float: center;text-align: center;" } })
                                            @Html.HiddenFor(m => m[j].timesheet_day_details[i].workhours)
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            @Html.EditorFor(m => m[j].timesheet_day_details[i].workhours, new { htmlAttributes = new { @class = "form-control", @onchange = "OnChangeEvent()", @style = "float: center;text-align: center;" } })
                                            @Html.ValidationMessageFor(m => m[j].timesheet_day_details[i].workhours)
                                        </td>
                                    }
                                    @Html.HiddenFor(m => m[j].timesheet_day_details[i].tsd_id)


                                    Rowtotal = (@Model[j].timesheet_day_details[i].workhours) + Rowtotal;


                                }

                                <td align="center">@Rowtotal</td>


                                <td>
                                    @if (j >= 0)
                                    {
                                        <a class="btn btn-danger" onclick="Delete(@Model[j].tsd_timesheet_id, @Model[j].tsd_category_type_id)"><i class="fa fa-trash"></i> Delete</a><!--NEED TO GIVE OPTION TO DELETE ROWS (CATEGORY AND CATEGORY TYPE ID WITH ALL ITS RESPECTIVE WORKHOUR ENTRIES)-->
                                    }
                                </td>
                            </tr>

                        }

                        <tr>
                            <td>&nbsp;</td>
                            <td align="center"><b>Total Hours per Day</b></td>
                            <td>&nbsp;</td>
                            @for (int i = 0; i < 7; i++) // CHANGE THIS VALUE BASED ON NUMBER OF DAYS IN A TIMESHEET
                            {
                                if (i == 4)
                                {
                                    if (@Model.Sum(x => x.timesheet_day_details[i].workhours) > 6.5)
                                    {
                                        <td align="center" bgcolor="#FF0000"><font color="white">@Model.Sum(x => x.timesheet_day_details[i].workhours)</font></td>
                                    }
                                    else
                                    {
                                        <td align="center">@Model.Sum(x => x.timesheet_day_details[i].workhours)</td>
                                    }
                                }
                                else if (i == 5)
                                {
                                    if (@Model.Sum(x => x.timesheet_day_details[i].workhours) > 7)
                                    {
                                        <td align="center" bgcolor="#FF0000"><font color="white">@Model.Sum(x => x.timesheet_day_details[i].workhours)</font></td>
                                    }
                                    else
                                    {
                                        <td align="center">@Model.Sum(x => x.timesheet_day_details[i].workhours)</td>
                                    }
                                }
                                else
                                {
                                    if (@Model.Sum(x => x.timesheet_day_details[i].workhours) > 7.5)
                                    {
                                        <td align="center" bgcolor="#FF0000"><font color="white">@Model.Sum(x => x.timesheet_day_details[i].workhours)</font></td>
                                    }
                                    else
                                    {
                                        <td align="center">@Model.Sum(x => x.timesheet_day_details[i].workhours)</td>
                                    }
                                }


                            }
                        </tr>
                    }



                </table>
            </div>
            

            if (ViewBag.Message != null)
            {
                <script type="text/javascript">
            window.onload = function () {
                //alert("@Model");
            };
                </script>
            }

            
            <input type="submit" name="submit" value="Calculate" class="btn btn-info" />
            <input type="submit" name="submit" value="Save" class="btn btn-primary" />
            <input type="submit" name="submit" value="Submit" class="btn btn-primary" />
        }
    </div>
    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Container fluid  -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- footer -->
<!-- ============================================================== -->
<footer class="footer"> © 2018 MMP TimeSheets By Simsum. For timesheet support contact <a href="timesheet@mmpakistan.com" target="_top">timesheet@mmpakistan.com</a> </footer>
<!-- ============================================================== -->
<!-- End footer -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- End Page wrapper  -->
<!-- ============================================================== -->


@section Scripts{
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script>
        var Popup, dataTable;
        var table = $("#dataTable");


        function OpenModal(url) {
            debugger;
            var $buttonClicked = $(this);
            var id = $buttonClicked.attr('data-id');
            var options = { "backdrop": "static", keyboard: true };
            $.ajax({
                type: "GET",
                url: url,
                contentType: "application/json; charset=utf-8",
                datatype: "json",
                success: function (data) {
                    debugger;
                    $('#myModalContent').html(data);
                    $('#myModal').modal(options);
                    $('#myModal').modal('show');

                },
                error: function () {
                    alert("Dynamic content load failed.");
                }
            });
            //$("#closebtn").on('click',function(){
            //    $('#myModal').modal('hide');

            $("#closbtn").click(function () {
                $('#myModal').modal('hide');
            });
        }

        /*function PopupForm(url) {
            var formDiv = $('<div/>');
            $.get(url).done(function (response) {
                formDiv.html(response);

                Popup = formDiv.dialog({
                    autoOpen: true,
                    resizeable: false,
                    title: "Fill TimeSheet Row details",
                    height: 700,
                    width: 700,
                    close: function () {
                        Popup.dialog('destroy').remove();
                    }
                });
            });
        }*/

        function SubmitForm(form) {
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                $.ajax({
                    type: "POST",
                    url: form.action,
                    data: $(form).serialize(),
                    success: function (data) {
                        if (data.success) {
                            //Popup.dialog('close');
                            $('#myModal').modal('hide');

                            location.reload(true);
                            //table.ajax.reload();

                            //notify.js plugin
                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "success"
                            })
                        }
                    }
                });
            }
            return false;
        }

        function Delete(id, category_typeID) {
            if (confirm('Are you sure you want to remove this Category/CategoryType from TimeSheet?')) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Delete", "TimeSheet")/?id=' + id + '&category_typeID=' + category_typeID,
                    success: function (data) {
                        if (data.success) {
                            location.reload(true);
                            //dataTable.ajax.reload();

                            //notify.js plugin
                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "success"
                            })
                        }
                    }
                })
            }
        }

        function Reload(id)
        {
            location.href = '@Url.Action("TimeSheetEditView", "TimeSheet")';
        }

    </script>
}