@model MMP.Models.ViewModels.Reports.SSProjectReport

@{
    ViewBag.Title = "Sector Specific Project Report";
}


@using (Html.BeginForm("UpdateProduct"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="row page-titles">
                <div class="col-md-5 col-8 align-self-center">
                    <h3 class="text-themecolor">Dashboard</h3>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                        <li class="breadcrumb-item active">SS Project Report</li>
                    </ol>
                </div>
                <div class="col-md-7 col-4 align-self-center">
                    <a href="https://wrappixel.com/templates/materialpro/" class="btn waves-effect waves-light btn-danger pull-right hidden-sm-down"> Upgrade to Pro</a>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <!-- Row -->

            <div class="d-flex justify-content-between">
                <div class="form-group">
                    @Html.LabelFor(model => model.date_from, htmlAttributes: new { @class = "" })
                    @Html.EditorFor(model => model.date_from, new { htmlAttributes = new { /*@class = "form-control",*/ @id = "from" } })
                    @Html.ValidationMessageFor(model => model.date_from, "", new { @class = "text-danger" })

                    @Html.LabelFor(model => model.date_to, htmlAttributes: new { @class = "" })
                    @Html.EditorFor(model => model.date_to, new { htmlAttributes = new { /*@class = "form-control",*/ @id = "to" } })
                    @Html.ValidationMessageFor(model => model.date_to, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.sectorID, htmlAttributes: new { @class = "" })
                    @Html.DropDownListFor(model => model.sectorID, new SelectList(ViewBag.Sectors, "sector_id", "sector_name"), "Select Sector", new { @class = "form-control" })
                    <a class="btn btn-success" style="margin-bottom:10px" onclick="Search()"><i class="fa fa-plus"></i> Search!</a>
                </div>
            </div>            

            <table id="ProjectTotalHoursTable" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>Projects</th>
                        <th>Total Hours</th>
                    </tr>
                </thead>
            </table>
        </div>
        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    <footer class="footer"> © 2017 Material Pro Admin by wrappixel.com </footer>
    <!-- ============================================================== -->
    <!-- End footer -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- End Page wrapper  -->
    <!-- ============================================================== -->
}



<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="https://cdn.datatables.net/rowgroup/1.0.3/css/rowGroup.dataTables.min.css">





@section Scripts{
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.10.18/api/fnFilterClear.js"></script>
    <script src="https://cdn.datatables.net/rowgroup/1.0.3/js/dataTables.rowGroup.min.js"></script>

    <script>
        var dataTable;

        $(function () {
            $("#from").datepicker({
                defaultDate: "+1w",
                changeMonth: true,
                numberOfMonths: 3,
                onSelect: function (selectedDate) {
                    $("#to").datepicker("option", "minDate", selectedDate);
                },
                dateFormat: 'yy/mm/dd'
            });

            $("#to").datepicker({
                defaultDate: "+1w",
                changeMonth: true,
                numberOfMonths: 3,
                onSelect: function (selectedDate) {
                    $("#from").datepicker("option", "maxDate", selectedDate);
                },
                dateFormat: 'yy/mm/dd'
            });
        });

        

            function Search() {
                var sectorID = $("#sectorID").val();
                var startDate = $("#from").val();
                var endDate = $("#to").val();

                if (sectorID == 0) {
                    alert("Enter User name");
                    return;
                } else if (startDate == 0 || endDate == 0){
                    alert("Select Valid Date Range");
                    return;
                }

                DataTables(sectorID, startDate, endDate);
            }

            function DataTables (id, startDate, endDate)
            {
                
                $('#ProjectTotalHoursTable').dataTable().fnDestroy();
                dataTable = $("#ProjectTotalHoursTable").DataTable({
                    "ajax": {
                        "url": "/SectorProjects/GetSectorProjectsTotalHours/?id=" + id + "&startDate=" + startDate + "&endDate=" + endDate,
                        "type": "GET",
                        "datatype": "json"
                    },
                    "columns": [
                        { "data": "ctd_name" },
                        { "data": "totalHours" }
                    ],
                    "language": {
                        "emptyTable": "No projects Available"
                    },
                    'columnDefs': [
                        {
                            "targets": '_all', // Centre text in all columns
                            "className": "text-center",
                            "width": "10%"
                        }],
                    "searching": false,
                    "paging": true,
                    "bInfo": false
                });

            }

        
    </script>
}

